*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{height: 100%;}


div.container{
  max-width: 768px;
  padding: 0 4%;
  margin: 0 auto;
  text-align: center;
}

div.searchWeather{
background-color: blueviolet;
  padding: 10px 0;
}

div.search h2{
  color: white;
}

input.form-control{
  margin-right: 7px;
  border-radius: 0.375rem!important;
}

div.searchResult{
  /* background-color: green; */
  text-align: center;
  padding: 20px 0;
}

div.searchResult h3{
  margin: 0;
  display: inline-block;
}


div.searchResult p{
  border-bottom: 1px dashed #ccc;
  padding: 10px 0;
  margin: 0;
  font-weight: bold;
}

span{
  font-size: 40px;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}
