*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{height: 100%;}

div.search{
  background-color: blueviolet;
  padding: 10px 0;
}

div.container{
  max-width: 1280px;
  padding: 0 4%;
  margin: 0 auto;
  text-align: center;
}

div.search h2{
  color: white;
}

input.form-control{
  margin-right: 7px;
  border-radius: 0.375rem!important;
}